/*colors*/
$cerulean: #1696D2;
$light-gray: rgb(245,245,245);
$dark-gray: rgb(105,105,105);

// Media Query sizes
$MaxDesktopSize: 1100px;
$MaxTabletSize: 960px;
$MaxPhoneSize:	768px;
$MidPhoneSize: 500px;

$FullMapSize: 355px;
$MediumMapSize: 315px;
