@import "variables";
@import "urban-header";

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  background-color: #fff;
}

// Top Span

.middle-span, .top-span {
  width: 100%;
  margin:0 auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom:20px;
  background-color: $light-gray;

  .first-in {
    display: inline;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 10px;    
    border-right: 2px solid;
    border-color: #000;

    .second-in {
      display: inline;
      text-transform: uppercase;
      font-size: 20px;
      color: #000;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid #000;        
      }

    }

    &:last-child {
      border-right: none;
    }


  }
}

.middle-span {
  padding-top: 20px;
  background-color: $dark-gray;

  .first-in {
    border-color: #fff;
    .second-in {
      color: #fff;
      &.active, &:hover {     
        border-bottom: 2px solid #fff;        
      }
    }     
  }
}

// header
.intro-wrap {
    height: auto;
    z-index: 20000;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    // font-style: italic;
}

.banner-wrapper {
  width: 100%;
}
#intro-text {
  background-color: #fff;
  padding: 30px;
}

.banner {
  background-color: #fff;
  width: 100%;
  height: auto;  
}

/*Typography*/

h1 {
  font-size: 36px;
  // color: #000;
  letter-spacing: .5px;
  font-style: normal !important;
}
h2 {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
}

#date {
  font-style: normal;
  font-size: 14px;
  color: #353535;
}


a {
    text-decoration: none;
    color: #1696d2;
    cursor: pointer;
}
a:hover {
  color: #000;
}

// search banner

.autocomplete-suggestions {
  background-color: $light-gray;
  // padding: 15px;
  // padding-top: 5px;
  // padding-bottom: 10px;

  .autocomplete-no-suggestion, .autocomplete-suggestion {
    font-size: 20px;
    font-family: "Lato";
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
      background-color: darken($light-gray, 50%);
    }    
  }

}

#main {
  width: 100%;  
  // margin: 0 auto;
  // padding-left:20px;
  // padding-right:20px;
  // // overflow: hidden;

  #search {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    input#autocompletez {
      color:#000;
      width: calc(100% - 30px);  
      font-size: 28px;
      font-family: "Lato";
      border: 1px solid $dark-gray; 
      padding: 15px;  
    }
  }

  #chart {

    margin: 0 auto;
    // background-color: #daddad;
    width: calc(100% - 40px);
  }
}  

// chart parts

.yGrid {
  stroke-width: 1.5px;
  stroke: rgb(174,174,174)
}

.yLine1, .yLine2  {
  stroke-width: 1.5px;
  stroke: rgb(174,174,174);
  stroke-linecap: round;
}

.yLineText {
  text-anchor: end;
  text-transform: uppercase;

  &.end {
    text-anchor: start;
  }
}

/*Footer*/
.footerButton {
    height: 20;
    float: left;
    width: 115px;
    border: 1px solid #333;
    cursor: pointer;
    font: 13px Lato;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    margin: 14px 0;
    line-height: 20px;
    margin-right: 15px;
}

.appendixButton {
  margin-right: 0px;
}

.footerButton:hover {
  background-color: #000;
  color: #fff !important;
}

.credit-list {
    font-size: 14px;
}
.credit-header {
  font-size: 16px;
  font-weight: bold !important;
}
.credit-names{
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}
.credits-text.bottom-text{
  font-size: 14px;
    margin-bottom: 45px;

   line-height: 22px !important;
}
.bottom-text {
  clear: both;
  font-size: 16px;
  color: #231f20;
  line-height: 26px;
}
h1.bottom-header{
  font-size: 34px;
  color: #000;
  margin-top: 50px;
  margin-bottom: 8px;
}
#copyright{
    margin-bottom: 100px;
    display: inline-block;
    font-style: italic;
}

.bottom-section {

}
.bottom-container {
  background-color: #ececec;
  border-top: 1px solid rgb(173, 171, 172);
}

.bottom-content {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 44px;
}

.description {
  opacity: 0.5;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}