@import "variables";
@import "urban-header";

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  background-color: #fff;
}

.clearer {
    clear: both;
  }

// Top Span

.middle-span, .top-span {
  width: 100%;
  margin:0 auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom:20px;
  background-color: $light-gray;

  .first-in {
    display: inline;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 10px;    
    border-right: 2px solid;
    border-color: #000;

    .second-in {
      display: inline;
      text-transform: uppercase;
      font-size: 20px;
      color: #000;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid #000;        
      }

    }

    &:last-child {
      border-right: none;
    }


  }
}

.middle-span {
  padding-top: 20px;
  background-color: $dark-gray;

  .first-in {
    border-color: #fff;
    .second-in {
      color: #fff;
      &.active, &:hover {     
        border-bottom: 2px solid #fff;        
      }
    }     
  }
}

// header
.intro-wrap {
    height: auto;
    z-index: 20000;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    // font-style: italic;
}

.banner-wrapper {
  width: 100%;
}
#intro-text {
  background-color: #fff;
  padding: 30px;
  padding-top: 60px;
}

.banner {
  background-color: #fff;
  width: 100%;
  height: auto;  
}

/*Typography*/

h1 {
  font-size: 36px;
  // color: #000;
  letter-spacing: .5px;
  font-style: normal !important;
}
h2 {
  font-size: 18px;
  color: #353535;
  font-weight: 300;
}

#date {
  font-style: normal;
  font-size: 14px;
  color: #353535;
}


a {
    text-decoration: none;
    color: #1696d2;
    cursor: pointer;
}
a:hover {
  color: #000;
}

// search banner

.autocomplete-suggestions {
  background-color: $light-gray;
  // padding: 15px;
  // padding-top: 5px;
  // padding-bottom: 10px;

  .autocomplete-no-suggestion, .autocomplete-suggestion {
    font-size: 20px;
    font-family: "Lato";
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
      background-color: darken($light-gray, 50%);
    }    
  }

}

#main {
  width: 100%;  
  // margin: 0 auto;
  // padding-left:20px;
  // padding-right:20px;
  // // overflow: hidden;

  #search {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    #details {
      font-style: italic;
      font-size: 18px;
      font: #333333;
    }

    input#autocompletez {
      color:#000;
      width: calc(100% - 30px);  
      font-size: 28px;
      font-family: "Lato";
      border: 1px solid $dark-gray; 
      padding: 15px;  
    }
  }


  #chart {
    position: relative;
    margin: 0 auto;    
    width: calc(100% - 40px);
    overflow: hidden;

    #info {      
      position: absolute;
      top: 20px;
      left: 15px;
      z-index: 1000;

      #info-image {
        float: left;
        cursor: pointer;
      }

      #info-ex {
        display: none;
        float: right;
        cursor: pointer;
      }


      &.active {
        background-color: #F5F5F5;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        top: unset;
        left: unset;

        #info-ex, #info-inner {
          display: block;
        }


      }

      #info-inner {
        display: none;
        padding-left: 40px;

        .infohead {
          font-size: 16px;
          font-weight: 700;
          color: $dark-gray;
          padding-top: 5px;
          padding-bottom:5px;
        }

        .infobody {
          font-size: 16px;
          font-style: italic;
          color: $text-gray;
        }

      }
    }
  }
}  

// chart parts

.yNum {
  fill: $text-gray;
  font-size: 16px;
}

.xNum {
  font-style: italic;
  fill: $text-gray;
  font-size: 14px;
  text-anchor: middle;
}

.yGrid {
  stroke-width: 1.5px;
  stroke: rgb(174,174,174)
}

.yLine1, .yLine2  {
  stroke-width: 1.5px;
  stroke: rgb(174,174,174);
  stroke-linecap: round;
}

.yLineText {
  text-anchor: end;
  text-transform: uppercase;
  fill: #000;
  font-size: 12px;
  font-weight: 700;

  &.end {
    text-anchor: start;
  }
  &.title {
    fill: $text-gray !important;
  }
}

.xText {
  fill: $text-gray;  
  text-anchor: start;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
// Dots and stuff!

.county {
  &.active {
    fill: $pink !important;
    cursor: pointer;
  }
}

#tooltip {
  position: absolute;
  background-color: #f5f5f5;
  right: -500px;
  top: 100px;
  width: 400px;

  &.active {
    right: 0px;
  }


  #tip-inner {

    #map {
      width: 100%;
      height: 200px;
    }

    .tip-text {
      width: 100%;
      padding: 10px;
      color: #666666;

      .bold {
        font-weight: 700;
      }

      .tip-title {
        font-size: 32px;  
        margin-bottom: 20px;      
      }

      p {
        font-size: 14px;        
        margin: 10px 0px;

        &.tip-note {
          font-style: italic;
          font-size: 12px;
          margin-top: 20px;
          margin-bottom: 0px;
        }
      }



    }
  }

}

// map
.subunit {
  stroke: #fff;
  stroke-width: 2px;
}

.subunit.active {
  stroke: $pink;
  stroke-width: 4px;
}


// rank tables 

#rank-tables {
   max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;  

  .rank-table {
    width: 100%;

    .rank-blocks {
      width: 33.333%;
      float: left;
      text-align: center !important;

      @media (max-width: $MaxPhoneSize) {
        width: 100%;
      }

      .rank-blocks-inner {
        padding-left: 10px;
        padding-right:10px;        

        .rank-block-title {
          color: #fff;
          background-color: #062635;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;

          p {
            font-size: 16px;
            font-weight: 700;  
            line-height: 100%;
            margin: 0;
            padding: 10px;
          }
          

        }  

        .rank-block-item {
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          height: 50px;

        &:nth-child(even) {
          background-color: rgb(203,203,203);
        }

          .rank-block-item-name {
            // float: right;
            font-size: 16px;
            color: #000;
            width: 80%;
            margin: 0 auto;
          }

          .rank-block-item-rank {
            float: left;
            font-size: 16px;
            font-weight: 700;
            color: #9D9D9D;
            position: absolute;
          }
        }
      }
    }
  }
}

// Population list

#popSize-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $text-gray;
  border-bottom: 1px solid $text-gray;
  


  #popSize-container-inner {    
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;


    #popSizetop {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      border-bottom: 1px solid $text-gray;

    }
    #popList {
      margin: 0 auto;
      width: max-content;
      .popListItem {
        float:left;
        font-size: 20px;
        text-align: center;
        border-right: 1px solid $text-gray;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;

        &.last {
          border-right: none !important;
        }

        .popListItemTitle {
          font-weight: 700;
        }

      }


    }
  }  
}


/*Footer*/
.footerButton {
    height: 20;
    float: left;
    width: 115px;
    border: 1px solid #333;
    cursor: pointer;
    font: 13px Lato;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    margin: 14px 0;
    line-height: 20px;
    margin-right: 15px;
}

.appendixButton {
  margin-right: 0px;
}

.footerButton:hover {
  background-color: #000;
  color: #fff !important;
}

.credit-list {
    font-size: 14px;
}
.credit-header {
  font-size: 16px;
  font-weight: bold !important;
}
.credit-names{
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}
.credits-text.bottom-text{
  font-size: 14px;
    margin-bottom: 45px;

   line-height: 22px !important;
}
.bottom-text {
  clear: both;
  font-size: 16px;
  color: #231f20;
  line-height: 26px;
}
h1.bottom-header{
  font-size: 34px;
  color: #000;
  margin-top: 50px;
  margin-bottom: 8px;
}
#copyright{
    margin-bottom: 100px;
    display: inline-block;
    font-style: italic;
}

.bottom-section {

}

.bottom-container {
  background-color: #fff;


  &.darker {
    border-top: 1px solid rgb(154,154,154);
    background-color: rgb(238,238,238);
    padding-top: 20px;
    margin-top: 70px;
  }

  .bottom-content {
    max-width: 700px;
    margin: 0 auto;

    &.darker {
      margin-top:40px;

      .credit-header, .credit-names, p, a {
        color: $dark-gray;
      }

      a {
        text-decoration: underline;
        font-weight: 700;
        // border-bottom: 1px solid $dark-gray;

        &:hover, &:visited {
          color: lighten($dark-gray, 20%);
        }
      }
    }
  }

}



.description {
  opacity: 0.5;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}