@import "variables";
@import "urban-header";

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  background-color: #fff;
}

.clearer {
    clear: both;    
  }



// Top Span

.middle-span, .top-span {
  width: 100%;
  margin:0 auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom:20px;
  background-color: $light-gray;

  .dropdown {
    display: none;
  }

  .first-in {
    display: inline;
    padding-top: 4px;
    padding-right: 15px;
    padding-left: 10px;    
    border-right: 2px solid;
    border-color: #000;

    .second-in {
      display: inline;
      text-transform: uppercase;
      font-size: 20px;
      color: #000;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid #000;        
      }

    }

    &:last-child {
      border-right: none;
    }


  }

  .ui-icon-triangle-1-s { 
    background-position: unset;
    margin-left: 10px;
    margin-top: -1px;
  } 

  .ui-button .ui-icon {
    background-image: url("../../img/arrow-down.png") !important;
    background-size: 16px !important;
    
  }
  // .ui-button .ui-icon.greyed {
  //   background-image: url("../../img/arrow-grey.png") !important;
  //   background-size: 16px !important;
  // }
  .ui-button.ui-selectmenu-button-open .ui-icon {
    background-image: url("../../img/arrow-up.png") !important;
    background-size: 16px !important;
  }

  @media (max-width: $MaxPhoneSize) {
    padding-bottom:0px;

    .dropdown {
      display: block;

      .current-menu {
        width: fit-content;
        margin: 0 auto;
      }

      #dropdown-header-button, #dropdown-header2-button, .dropdown-label {
        float: left;
        font-size: 14px;
        color: #fff;  
        font-family: Lato;
      }

      .dropdown-label {
        padding: 5px;
      }

      #dropdown-header-button, #dropdown-header2-button {
        background-color: transparent;
        border: none;
        padding: 6px;
        text-transform: uppercase;
        font-weight: 700;
        width: unset;
        padding-bottom: 21px;

        &:focus {
          outline: none;
        }
      }

      

    }
    .first-in {
      display: none;
    }
  }
}

.ui-selectmenu-menu {
  z-index:1000000;
  width: 100% !important;
  left: 0px !important;
}

.ui-widget.ui-widget-content {
  border: 0px;
  border-top: 1px solid #c5c5c5;
}

.ui-menu-item {
  font-family: Lato !important;
  font-size: 14px;
  color: #fff;
  background-color: dimgray;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;

  .ui-menu-item-wrapper {
    padding:10px;
  }
  .ui-state-active {
    border: none;
    background-color: lighten(dimgray, 50%);
    color: $dark-gray;
  }
}

.middle-span {
  padding-top: 20px;
  background-color: $dark-gray;

  .first-in {
    border-color: #fff;
    .second-in {
      color: #fff;
      &.active, &:hover {     
        border-bottom: 2px solid #fff;        
      }
    }     
  }
}

// header
.intro-wrap {
    height: auto;
    z-index: 20000;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    
    .subtitle {
      font-weight: 300;
    }

    h3 {
      font-style: italic;
      font-size: 18px;
      font-weight: 400;
      color: #353535;
    }

  @media (max-width: $MaxPhoneSize) {
      h1 {
        font-size: 24px;
        text-align: center;
      }
      h2 {
        font-size: 14px;
      }

      h3 {
        font-size: 12px;
      }
  }    
}

.banner-wrapper {
  width: 100%;
}
#intro-text {
  background-color: #fff;
  padding: 30px;
  padding-top: 60px;
}

.banner {
  background-color: #fff;
  width: 100%;
  height: auto;  
}

/*Typography*/

h1 {
  font-size: 36px;
  // color: #000;
  letter-spacing: .5px;
  font-style: normal !important;
  margin-bottom: -5px;
}
h2 {
  font-size: 18px;
  color: #353535;
  font-weight: 400;
}

#date {
  font-style: normal;
  font-size: 14px;
  color: #353535;
}


a {
    text-decoration: none;
    color: #1696d2;
    cursor: pointer;
}
a:hover {
  color: #000;
}

// search banner

.autocomplete-suggestions {
  background-color: $light-gray;
  // padding: 15px;
  // padding-top: 5px;
  // padding-bottom: 10px;

  .autocomplete-no-suggestion, .autocomplete-suggestion {
    font-size: 20px;
    font-family: "Lato";
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
      background-color: darken($light-gray, 50%);
      color: #fff;
    }    
    
    strong {
      font-weight: 900
    }
  }

}

#main {
  width: 100%;  
  // margin: 0 auto;
  // padding-left:20px;
  // padding-right:20px;
  // // overflow: hidden;

  #search {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    #details {
      font-style: italic;
      font-size: 18px;
      font: #333333;
    }

    input#autocompletez {
      color:#000;
      width: calc(100% - 30px);  
      font-size: 28px;
      font-family: "Lato";
      border: 1px solid $dark-gray; 
      padding: 15px;  
    }
    
    @media (max-width: $MaxDesktopSize) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: $MaxPhoneSize) {
      padding-left: 40px;
      padding-right: 40px;
      
      #details {
        font-size: 12px;
      }

      input#autocompletez {
        font-size:18px;
        // padding:10px;
      }
    }
  }


  #chart {
    position: relative;
    margin: 0 auto;    
    width: calc(100% - 40px);
    overflow: hidden;

    #info {      
      position: absolute;
      top: 20px;
      left: 15px;
      z-index: 1000;

      #info-image {
        float: left;
        cursor: pointer;
        width:30px;
        height:30px;

        img {
          width: 100%;
        }
      }

      #info-ex {
        display: none;
        float: right;
        cursor: pointer;
        width: 20px;
        height: 20px;
          img {
            width: 100%;
          }
      }


      &.active {
        background-color: #F5F5F5;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        top: unset;
        left: unset;

        #info-ex, #info-inner {
          display: block;
        }


      }

      #info-inner {
        display: none;
        padding-left: 40px;

        .infohead {
          font-size: 16px;
          font-weight: 700;
          color: $dark-gray;
          padding-top: 5px;
          padding-bottom:5px;
        }

        .infobody {
          font-size: 16px;
          font-style: italic;
          color: $text-gray;
        }
      }


    }

    @media (max-width: $MaxPhoneSize) {
      width: 100%;
      overflow: visible;

    }
  }
}  

// chart parts

.yNum {
  fill: $text-gray;
  font-size: 16px;
}

.xNum {
  // font-style: italic;
  fill: $text-gray;
  font-size: 14px;
  text-anchor: middle;
}

.yGrid {
  stroke-width: 1.5px;
  stroke: rgb(174,174,174)
}

.yLine1, .yLine2  {
  stroke-width: 1.5px;
  stroke: rgb(174,174,174);
  stroke-linecap: round;
}

.yLineText {
  text-anchor: end;
  text-transform: uppercase;
  fill: #000;
  font-size: 12px;
  font-weight: 700;

  &.end {
    text-anchor: start;
  }
  &.title {
    fill: $text-gray !important;
  }
}

.xText {
  fill: $text-gray;  
  text-anchor: start;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
// Dots and stuff!

.county {
  &:hover {
    fill: $pink !important;
    cursor: pointer; 
  }

  &.active {
    stroke: $pink !important;
    cursor: pointer;
    stroke-width: 2px;
  }
}

#tooltip {
  position: absolute;
  display:none;
  top: 100px;
  width: 400px;
  z-index: 1001;

  &.active {
    display:block;
    right: 0;

  }


  #tip-inner {
  background-color: #f5f5f5;

    #map {
      width: 100%;
      height: 200px;
      display: none;
      overflow: hidden;
      
      #tool-ex {
        float: right;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;

        img {
          width: 100%;
        }
      }
    }



    .tip-text {
      // width: 100%;
      padding: 10px;
      color: #666666;

      .learnMore {

      }

      .bold {
        font-weight: 700;
      }
      .italic {
        font-style: italic;
      }

      .tip-title {
        font-size: 32px;  
        margin-bottom: 20px;   
        padding-right: 15px;   
      }

      .tip-inner-text {
        display: none;
      }



      p {
        font-size: 14px;        
        margin: 0;

        &.italic {
          margin-top: 10px;
        }

        &.tip-note {
          font-style: italic;
          font-size: 12px;
          margin-top: 20px;
          margin-bottom: 0px;
        }
      }



    }

    &.active {
      .tip-inner-text, #map {
        display: block;
      }

      .learnMore {
        display: none;
      }
    }

    .mobile {
      display: none;
    }
  }

  @media (max-width: $MaxPhoneSize) {
    width: 100%;

    .full {
      display: none;
    }

    .mobile {
      display: block !important; 
    }

    #tip-inner.active {
      top: 52px !important;
      position: fixed;
      height: 100%;
    }

  }


}

// map
.subunit {
  stroke: #fff;
  stroke-width: 2px;
}

.subunit.active {
  stroke: $pink;
  stroke-width: 4px;
}


.subunit-boundary {
  fill: none;
  stroke: #fdbf11;
  // stroke-dasharray: 2,2;
  // stroke-linejoin: round;
  stroke-width: 8px;
}




.wrapRect {
  fill: #F5f5f5;
}

.overflowButton {
  cursor:pointer;
  overflow: visible;
  position: absolute;

  .wrapperButton {
    cursor: pointer;
    background-image: url(../../img/wrap.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:30px;
    height:30px;

    .mobile {
      display: none;
    }

    @media (max-width: $MaxPhoneSize) {  
      .desktop {
        display: none;
      }

      .mobile {
        display: block !important; 
      }
    }

    .overflow-hover {
      width: 133px;
      text-align: center;
      top: 40px;
      // position: relative;
      position: absolute;
      left: -54px;
      background-color: #fff;
      border: 1px solid black;
      display:none;

      // Arrows!
      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 8px;
        margin-left: -8px;
      }
      &:before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #000;
        border-width: 9px;
        margin-left: -9px;
      }

      &.active {
        display: block;
      }

    }

  }  

  &.wrapped {
    .wrapperButton {
      background-image: url(../../img/unwrap.png);
    }
  }
}



// rank tables 

#rank-tables {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #fff;  

  .rank-table {
    width: 100%;

    .rank-blocks {
      width: 33.333%;
      float: left;
      text-align: center !important;

      .rank-blocks-inner {
        padding-left: 10px;
        padding-right:10px; 

        .rank-block-title {
          color: #fff;
          background-color: #062635;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;

          p {
            font-size: 16px;
            font-weight: 700;  
            line-height: 100%;
            margin: 0;
            padding: 10px;
          }
          

        }  

        .rank-block-item {
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          height: 50px;

        &:nth-child(odd) {
          background-color: rgb(203,203,203);
        }

          .rank-block-item-name {
            // float: right;
            font-size: 16px;
            color: #000;
            width: 75%;
            margin: 0 auto;
          }

          .rank-block-item-rank {
            float: left;
            font-size: 16px;
            font-weight: 700;
            color: #9D9D9D;
            position: absolute;
          }
        }

        @media (max-width: $MaxDesktopSize) {
          padding-left: 5px;
          padding-right: 5px;

          .rank-block-item .rank-block-item-name {
            width: 70%;
            line-height: 100%;
          }
        }

      }

      @media (max-width: $MaxPhoneSize) {
        width: 100%;
      }


    }
  }

  #least-rank {
    padding-top: 40px;
    border-top: 1px solid $text-gray;
    margin-top: 40px;

    .rank-block-title {
      background-color: #CFE8F3;
      color: #000;
    }
  }
}

// Population list

#popSize-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $text-gray;
  border-bottom: 1px solid $text-gray;
  


  #popSize-container-inner {    
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;


    #popSizetop {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      border-bottom: 1px solid $text-gray;

    }
    #popList {
      margin: 0 auto;
      text-align: center;

      .popListItem {
        display: inline-block;
        font-size: 20px;
        text-align: center;
        border-right: 1px solid $text-gray;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;

        &.last {
          border-right: none !important;
        }

        .popListItemTitle {
          font-weight: 700;
        }

      }


    }
  }  

  @media (max-width: $MaxPhoneSize) {
    width: unset;
    margin-right: $bottom-mobile-margin;
    margin-left: $bottom-mobile-margin;

    #popSize-container-inner {
      padding-bottom: 1px;
      width: calc(100% + #{$bottom-mobile-margin} + #{$bottom-mobile-margin} );
      left: -$bottom-mobile-margin;
      position: relative;

      #popSizetop {
        width: unset;
        margin-left: $bottom-mobile-margin;
        margin-right: $bottom-mobile-margin;
        max-width: none;

      }
      #popList {
        .popListItem {
          width: 100%;
          border-right: none; 
          padding-right: 0;
          padding-left: 0;
          float: unset;
        }
      }
    
    }
  }
}


/*Footer*/
.footerButton {
    height: 20;
    float: left;
    width: 150px;
    border: 1px solid #333;
    cursor: pointer;
    font: 13px Lato;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    margin: 14px 0;
    line-height: 20px;
    margin-right: 15px;
}

.appendixButton {
  margin-right: 0px;
}

.footerButton:hover {
  background-color: #000;
  color: #fff !important;
}

.credit-list {
    font-size: 14px;
}
.credit-header {
  font-size: 16px;
  font-weight: bold !important;
}
.credit-names{
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}
.credits-text.bottom-text{
  font-size: 14px;
    margin-bottom: 45px;

   line-height: 22px !important;
}
.bottom-text {
  clear: both;
  font-size: 16px;
  color: #231f20;
  line-height: 26px;

  ul {
    text-align: left;
    list-style-type: disc;
  }
}
h1.bottom-header{
  font-size: 34px;
  color: #000;
  margin-top: 50px;
  margin-bottom: 8px;
}
#copyright{
    margin-bottom: 100px;
    display: inline-block;
    font-style: italic;
}

.bottom-section {

}

.bottom-container {
  background-color: #fff;


  &.darker {
    border-top: 1px solid rgb(154,154,154);
    background-color: rgb(238,238,238);
    padding-top: 20px;
    margin-top: 70px;
  }

  .bottom-content {
    max-width: 700px;
    margin: 0 auto;

    &.darker {
      margin-top:40px;

      .credit-header, .credit-names, p {
        color: $dark-gray;
      }     
    }
  }
}

@media (max-width: $MaxPhoneSize) {
  .bottom-container {
    padding: 30px;
  }

  .bottom-container.darker {
    margin-top: 0px;
  }

  .bottom-container .bottom-content.darker {
    margin-top: 0px;
  }

  h1.bottom-header {
    font-size:18px;
    margin-top:5px;
  }

  .bottom-text {
    font-size: 12px !important;
    line-height:14px !important;
  }

  .credits-text.bottom-text {
   line-height:14px !important; 
   margin-bottom:0px;
  }

  .credit-list {
    font-size: 12px;
  }
  .credit-header {
    font-size: 14px;
    font-weight: bold !important;
  }
  .credit-names{
      margin-bottom: 10px;
      margin-top: 0px;
      font-size: 12px;
  }
  #copyright {
    margin-bottom: 10px;
  }
}


.description {
  opacity: 0.5;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}